.user-layout {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 576px) {
  .user-layout {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.p-eval-btn:hover {
  color: white;
  background: #751518;
  text-decoration: none;
}

.p-eval-btn {
  color: black;
  border: 2px solid #751518;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 20px;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  font-size: small;
  padding: 0.25rem 0.5rem;
}

.form-type {
  border: 1px solid black;
}

.table-responsive.fac-table {
  color: black;
}

.click-to-eval:hover {
  color: #751518;
}

.click-to-eval {
  color: black;
  text-decoration: underline;
}

.user-info-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: red;
}

.card.user-info {
  border-radius: 0rem;
  border: none;
  background: #ececec;
}

.eval-form-table thead th {
  vertical-align: middle;
  border-top: 0;
  border-bottom: 2px solid #e3e6f0;
  color: #751518;
}

.fac-table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #e3e6f0;
  background-color: #751518;
  color: white;
}

.completed-cell {
  color: #751518;
}

.account-img {
  height: 60px;
  border-radius: 100%;
  margin-bottom: 5%;
}

.card-title.faculty-name {
  font-size: medium;
}

.card-subtitle.faculty-position {
  font-size: small;
}

.form-name {
  font-size: 20px;
}

.table.fac-table {
  color: black;
}

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 769px) {
  #side-to-top {
    display: none;
  }
}

#side-to-top .user-info {
  background-color: #131313;
}

#side-to-top, #side-to-top span {
  color: white;
}

#side-to-top i {
  display: none;
}

#side-to-top .nav-link, #side-to-top .card-body {
  text-align: right;
  padding-right: 0rem;
}

.card.evaluatee-info {
  border-left: 2px solid rgb(142,9,9);
  border-radius: 0;
}

.form-option {
  padding: 0.5rem;
}

.form-option span {
  font-size: 14px;
}

@media (max-width: 768px) {
  .form-option span {
    font-size: 12px;
  }
}

.form-categ {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: large;
  color: white;
  background-color: #751518;
}

.eval-form-table {
  color: black;
}

.user-wrapper {
  display: flex;
  padding-top: 4rem;
}

.admin-wrapper {
  display: flex;
  padding-top: 4rem;
}

.nxt-btn {
  background-color: maroon;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem;
  color: white;
}

.row.rating {
  color: maroon;
}

.sub-heading {
  background-color: rgb(101,101,101);
  color: white;
}

.heading {
  min-width: 400px;
}

.btn.disabled.result-btn:hover {
  color: gray;
  background: #ececec;
}

.btn.disabled.result-btn {
  color: gray;
}

.result-btn {
  color: green;
  font-size: x-large;
  font-weight: bold;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #ececec;
}

.result-btn:hover {
  color: white;
  background-color: darkgreen;
}

.result-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  text-align: center;
  height: 100%;
  color: maroon;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  padding: 1rem 3rem;
}




.modal-content-add-user {
	max-height: calc(100vh - 1rem);
	overflow: hidden
}

.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
	flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem)
}

.modal-dialog-centered:before {
	display: block;
	height: calc(100vh - 1rem);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
	flex-direction: column;
	justify-content: center;
	height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content-add-user {
	max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable:before {
	content: none
}

.modal-content-add-user {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000
}

.modal-backdrop.fade {
	opacity: 0
}

.modal-backdrop.show {
	opacity: .5
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e3e6f0;
	border-top-left-radius: calc(.3rem - 1px);
	border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem
}

.modal-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding: .75rem;
	border-top: 1px solid #e3e6f0;
	border-bottom-right-radius: calc(.3rem - 1px);
	border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
	margin: .25rem
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width:576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto
	}
	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem)
	}
	.modal-dialog-scrollable .modal-content-add-user {
		max-height: calc(100vh - 3.5rem)
	}
	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem)
	}
	.modal-dialog-centered:before {
		height: calc(100vh - 3.5rem);
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content
	}
	.modal-sm {
		max-width: 300px
	}
}

