.user-layout {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (max-width: 576px) {
  .user-layout {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.p-eval-btn:hover {
  color: white;
  background: #751518;
  text-decoration: none;
}

.p-eval-btn {
  color: black;
  border: 2px solid #751518;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 20px;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  font-size: small;
}

.form-type {
  border: 1px solid black;
}

.table-responsive.fac-table {
  color: black;
}

.click-to-eval:hover {
  color: #751518;
}

.click-to-eval {
  color: black;
  text-decoration: underline;
}

.user-info-body {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: red;
}

.card.user-info {
  border-radius: 0rem;
  border: none;
  background: #ececec;
}

.eval-form-table thead th {
  vertical-align: middle;
  border-top: 0;
  border-bottom: 2px solid #e3e6f0;
  color: #751518;
}

.fac-table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #e3e6f0;
  background-color: #751518;
  color: white;
}

.completed-cell {
  color: #751518;
}

.account-img {
  height: 60px;
  border-radius: 100%;
  margin-bottom: 5%;
}

.card-title.faculty-name {
  font-size: medium;
}

.card-subtitle.faculty-position {
  font-size: small;
}

.form-name {
  font-size: 20px;
}

.table.fac-table {
  color: black;
}

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 769px) {
  #side-to-top {
    display: none;
  }
}

#side-to-top .user-info {
  background-color: #131313;
}

#side-to-top, #side-to-top span {
  color: white;
}

#side-to-top i {
  display: none;
}

#side-to-top .nav-link, #side-to-top .card-body {
  text-align: right;
  padding-right: 0rem;
}

.card.evaluatee-info {
  border-left: 2px solid rgb(142,9,9);
  border-radius: 0;
}

.form-option {
  padding: 0.5rem;
}

.form-option span {
  font-size: 14px;
}

@media (max-width: 768px) {
  .form-option span {
    font-size: 12px;
  }
}

.form-categ {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: large;
  color: white;
  background-color: #751518;
}

.eval-form-table {
  color: black;
}

.user-wrapper {
  display: flex;
  padding-top: 4rem;
}

.admin-wrapper {
  display: flex;
  padding-top: 4rem;
}

.nxt-btn {
  background-color: maroon;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem;
  color: white;
}

.row.rating {
  color: maroon;
}

.sub-heading {
  background-color: rgb(101,101,101);
  color: white;
}

.heading {
  min-width: 400px;
}



